@using miniBlog.Models

@model miniBlog.Models.IndexViewModel



@{
    ViewBag.Title = "Index";
    
}

@foreach (Post post in Model.Posts)
{

    <div class="row postclass">
        <div class="posttitle">
            <div class="row">
                <div class="col-md-push-3 col-md-6 col-md-pull-3 col-xs-12">
                    <a href="@Href("~/Post/Details/" + post.Id)">@post.Title</a>

                </div>
            </div>


        </div>
        <div class="postcontainer">
            <div class="row">
                <div class="col-md-push-1 col-md-10 col-md-pull-1 col-xs-12">
                    <div class="datetab">
                         @{
                            DateTime time = (DateTime)@post.Time;
                         }
                        <div class="month"><span class="month">@string.Format("{0:t}", @time)</span>
                        <span class="date">@string.Format("{0:D}", @time)</span></div>

                        

                        <div class=" contentBody">
                            <div class="postBody">

                                @Html.Raw((@post.Body).Replace(Environment.NewLine, "<br />"))

                              

                            </div>
                        </div>

                    </div>

                </div>
                
            </div>






        </div>
        <div class="commentssection">
            <div class="row">
                <div class="col-md-push-1 col-md-3 col-xs-12">
                    @if (ViewBag.isAdmin)
                    {
                        <div class="Delete btn btn-danger">
                            <a type="button" href="@Href("~/Post/Delete/" + post.Id)">Delete Post</a>
                        </div>
                    }


                </div>
                <div class="col-md-push-4 col-md-4 col-xs-12">
                    <div>


                        <a href="@Href("~/Post/Details/" + post.Id + "#CommentBox")"><span class="badge"><span class="glyphicon glyphicon-comment">&nbsp;@post.Comments.Count</span></span></a>


                    </div>

                </div>
            </div>
        </div>

    </div>




}

<div class="row">
    <div class="col-md-push-3 col-md-6 col-md-pull-3 PNlinks">

        @{
            int pagenumber = ViewBag.pageNumber;
            if (ViewBag.isPreviousLinkAvailable)
            {
                int previousPageNumber = pagenumber - 1;
                //Html.RenderAction("Post", "Index", previousPageNumber);
                <span>
                    @Html.ActionLink("Previous", "Index", "Post", new { id = previousPageNumber }, null)
                </span>


            }





            if (ViewBag.isNextLinkAvailable)
            {
                int nextPageNumber = pagenumber + 1;
                //Html.RenderAction("Post", "Index", previousPageNumber);
                <span>
                    @Html.ActionLink("Next", "Index", "Post", new { id = nextPageNumber }, null)
                </span>

            }

}
    </div>

</div>


