@using miniBlog.Models
@model miniBlog.Models.Post


@helper RenderComment(int commentPerpage)
{
    foreach (Comment comment in @Model.Comments.OrderBy(x => x.Time).Take(commentPerpage))
    {
        <li class="indiComments">
            <div class="commentDate">
                <span class="month">@string.Format("{0:t}", @comment.Time)</span>,
                <span class="date">@string.Format("{0:D}", @comment.Time)</span>
            </div>

            <div class="">
                <span class="commentName"><b>@comment.Name.ToUpper() :</b></span>
                <span style="font-size:13px">

                    @comment.Body

                </span>
            </div>
        </li>



    }
}
